[run]
branch = True
parallel = True
source = ims
omit =
   */test/*
   */test_*.py

[paths]
source=
   src/ims
   .tox/py*/**/site-packages

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
