__pycache__/
!/.docker/sample.env
*.env
/.docker_environment
/.docker/*
/.hypothesis/
/.ruff_cache
/.tox/
/.venv/
attachments/
/build/
/cached/
/data/
/dist/
/htmlcov/
/htmldocs/
/src/*.egg-info/
/wheels/
