language: python

# We don't need sudo, and setting this to false means faster VM bootup.
sudo: false


branches:
  only:
    - master


install:
  - pip install tox


matrix:
  include:
    - python: 3.5
      env: TOXENV=flake8

    - python: 3.5
      env: TOXENV=mypy

    - python: 3.5
      env: TOXENV=docs

    - python: 3.5
      env: TOXENV=py35-coverage,codecov


script:
  - tox
