dist: trusty  # Use trusty for MySQL 5.6
language: python


branches:
  only:
    - master


services:
  - mysql


stages:
  - Lint
  - Unit Test


jobs:
  include:
    - stage: Lint
      python: 3.6
      env: TOXENV=flake8

    - stage: Lint
      python: 3.6
      env: TOXENV=mypy

    - stage: Unit Test
      python: 3.6
      env:
        - TOXENV=coverage-py36,codecov
        - TOX_SKIP_MISSING_INTERPRETERS=False
        - IMS_TEST_MYSQL_HOST="127.0.0.1";
        - IMS_TEST_MYSQL_USERNAME="travis";


install:
  - pip install tox


script:
  - tox


notifications:
  email:
    recipients:
      - ranger-tech-list@burningman.org
