language: python

python:
  - "2.7"

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq libffi6
 - sudo apt-get install -qq libssl0.9.8

install:
  - ./bin/develop

script:
  - ./bin/test
