dist: trusty
sudo: false


language: python


branches:
  only:
    - master


install:
  - ./bin/travis/install


services:
  - mysql


matrix:
  include:
    - python: 3.6
      env: TOXENV=flake8
    - python: 3.6
      env: TOXENV=mypy
    # - python: 3.6
    #   env: TOXENV=docs
    - python: 3.6
      env: TOXENV=coverage-py36,codecov

  allow_failures:
    # Needs work
    - env: TOXENV=docs


script:
  - ./bin/travis/run tox
