include .bandit
include .codecov.yml
include .coveragerc
include .dockerignore
include .flake8
include .isort.cfg
include .pre-commit-config.yaml
include bin/.common.sh
include bin/build
include bin/deploy
include bin/find_port
include bin/mysql-run
include bin/run
include bin/shell
include bin/test_docker
include codecov.yml
include conf/directory-sample.yaml
include conf/imsd-sample.conf
include COPYRIGHT.txt
include Dockerfile
include LICENSE.txt
include mypy.ini
include pyproject.toml
include README.rst
include requirements/requirements*.txt
include tox.ini
recursive-include docs *.py
recursive-include docs *.rst
recursive-include src *.txt
recursive-include tools *.py
