include .coveragerc
include .docker/sample.env
include .dockerignore
include .pre-commit-config.yaml
include .python-version
include API.md
include bin/.common.sh
include bin/build
include bin/deploy
include bin/find_port
include bin/mysql
include bin/mysql-run
include bin/run
include bin/shell
include bin/test_docker
include CHANGELOG.md
include codecov.yml
include codecov.yml
include conf/directory-sample.yaml
include conf/imsd-docker-compose-sample.conf
include conf/imsd-sample.conf
include COPYRIGHT.txt
include docker-compose.yml
include Dockerfile
include docs/*.py
include docs/*.rst
include LICENSE.txt
include mypy.ini
include pyproject.toml
include README.rst
include src/ims/config/test/*.conf
include src/ims/directory/file/test/*.yaml
include src/ims/element/static/*.css
include src/ims/element/static/*.js
include src/ims/element/static/*.png
include src/ims/element/static/*.zip
include src/ims/store/file/*.txt
include src/ims/store/mysql/schema/*.mysql
include src/ims/store/sqlite/schema/*.sqlite
include tox.ini
include uv.lock
recursive-include src/ims/element *.xhtml
