--editable .  # Get self and dependencies from setup.py

    attrs==17.2.0
    #cattrs==0.3.0
    git+https://github.com/Tinche/cattrs.git@5105dc7f91df6c08d90382e29add0d458ad9eb5c#egg=cattrs

    arrow==0.10.0

    Twisted==17.1.0
        zope.interface==4.4.1
            setuptools==35.0.2

    klein==17.2.0
        #twisted ...
        Werkzeug==0.12.2

    # MySQL
    PyMySQL==0.7.11

    --editable git+https://github.com/apple/ccs-twistedextensions.git#egg=twextpy
        cffi==1.10.0
        #twisted ...
