# Klein
Werkzeug==0.10.4
klein==15.0.0

# Twisted
zope.interface==4.1.2
Twisted==15.3.0

# SSL
pyOpenSSL==0.15.1
six==1.9.0
cryptography==1.0
cffi==1.1.2
pycparser==2.14

# SSL that works
service_identity==14.0.0
pyasn1==0.1.8
pyasn1-modules==0.0.7
characteristic==14.3.0

# MySQL
mysql-connector-python==1.2.3  # 2.0.4
