--editable .  # Get self and dependencies from setup.py

    Twisted==17.1.0
        zope.interface==4.3.3
            setuptools==34.3.0

        # Twisted doesn't declare these

        pyOpenSSL==16.2.0
            cryptography==1.7.2
                cffi==1.9.1
                    pycparser==2.17
                enum34==1.1.6
                idna==2.2
                ipaddress==1.0.18
                pyasn1==0.2.3
                #setuptools
                #six
            six==1.10.0

        service-identity==16.0.0
            attrs==16.3.0
            #pyasn1
            pyasn1-modules==0.0.8
                #pyasn1
            #pyOpenSSL ...


    klein==16.12.0
        #twisted ...
        Werkzeug==0.11.15

    #characteristic==14.3.0

    # MySQL
    PyMySQL==0.7.10

    --editable git+https://github.com/apple/ccs-twistedextensions.git#egg=twextpy
        #cffi
        #twisted ...
