--editable .  # Get self and dependencies from setup.py

    attrs==17.1.0
    cattrs==0.2.0

    arrow==0.10.0

    Twisted==17.1.0
        zope.interface==4.4.1
            setuptools==35.0.2

    klein==17.2.0
        #twisted ...
        Werkzeug==0.12.2

    # MySQL
    PyMySQL==0.7.11

    --editable git+https://github.com/apple/ccs-twistedextensions.git#egg=twextpy
        cffi==1.10.0
        #twisted ...
