@import url("/baseline/compressed/baseline.compress.css");


body {
  margin: 1em;
}

p, dd {
 text-indent: 1.5em;
 margin-bottom: 0.5em;
}

form { display: inline; }
label, select, input, textarea { display: inline-block; box-sizing: border-box; }

label { font-weight: bold; }

select[multiple], input, textarea {
  border: 1px solid #c6c9cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
}

input[type="text"], input[type="password"], input[type="select"],
input[type="search"] {
  margin-bottom: 0px;
}

fieldset.boxed {
  border: 1px solid #d0d2d5;
  box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff;
  padding: 0.75em;
}
fieldset.boxed legend {
  padding: 0 0.5em;
}


table.incident_activity { table-layout: fixed; margin-bottom: 20pt; }
caption.incident_activity { text-align: center; margin-bottom: 4pt; }
tbody.incident_activity { border: 1px solid black; }

tr.incident:hover { background-color: #FFFF00; }

th.incident_number   { width:  4em; }
th.incident_priority { width:  4em; }
th.incident_state    { width:  4em; }
th.incident_rangers  { width:  8em; }
th.incident_location { width: 16em; }
th.incident_types    { width:  8em; }
th.incident_summary  {}
