body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

code {
  font-family: "Courier New", "Courier", monospace;
}

.table {
  font-size: 10pt;
}

.table-hover > tbody > tr:hover {
  background-color: #FFFF00;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 6px;
}

footer {
  float: left;
}

.navbar-default .navbar-brand {
  color: #555555;
}

.navbar-default .navbar-nav>li>a {
  color: #555555;
}

.nav-event-id {
  font-size: 12pt;
}

.active-event {
  color: black;
}

.nonprod-warning {
  background-color: #dc3545;
  color: #ffffff;
  font-size: 14pt;
}

.flex-input-container {
  display: flex;
}

.flex-input-container > label {
  margin: 5px;
}

.flex-input-container > input {
  flex: 2;
}

.list-group {
  margin-bottom: 8px;
}

.list-group-small > .list-group-item {
  padding: 3px 5px;
  font-size: 10pt;
}

.auto-width {
  width: auto;
  display: inline;
}

.report_entry_system {
  font-size: 8pt;
  filter: opacity(75%);
}

.report_entry_system > .report_entry_text {
  margin: 0;
}

.report_entry_metadata {
  font-size: 8pt;
  font-weight: bold;
  text-decoration: underline;
  filter: opacity(75%);
  margin: 10px 0 0 0;
}

/* We want good readability even for disabled controls. */
.form-control {
  color: black;
}

/* Tighten up the page a bit */
.form-group {
  /* default was 15px */
  margin-bottom: 6px;
}
.well {
  /* default was 20px */
  margin-bottom: 12px;
}
.well-sm {
  /* default was 9px */
  padding: 6px;
}
.navbar {
  /* default was 20px */
  margin-bottom: 10px;
}
h1 {
  /* default was 20px */
  margin-top: 10px;
  font-size: 24px;
}

/*
 * Below is a trick to hide the remove buttons (.remove-badge) from list
 * groups except when hovering, but only on non-touch devices.
 */

.no-touch .remove-badge {
  display: none;
}

.no-touch .list-group-item:hover .remove-badge {
  display: inline-block;
}

/* Disable on touch devices if editing is disabled. */
.no-edit .remove-badge {
  display: none;
}

/* Override hover behavior if editing is disabled. */
.no-edit .list-group-item:hover .remove-badge {
  display: none;
}

.no-edit .new_incident {
  display: none;
}
.no-edit .new_incident_report {
  display: none;
}

#incident_report_well > .panel {
  margin-bottom: 5px;
}

#incident_report_add {
  resize: vertical;
}

.item-hidden > .badge-visible {
  display: none;
}

.item-visible > .badge-hidden {
  display: none;
}

.badge-visible {
  float: left !important;
}

.badge-hidden {
  float: left !important;
}

.hide-history .report_entry_system {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }

  /* The below tweaks make the print version have multiple columns, like the desktop >768 px version. */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.67%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.67%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.67%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.67%;
  }
  .col-sm-1 {
    width: 8.33%;
  }

  /* don't print the full name under the abbreviation */
  abbr[title]:after {
    content: "";
  }
}
