body, h1, h2, h3, h4, h5, h6, p, p+p {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
}

code {
  font-family: "Courier New", "Courier", monospace;
}

.table {
  font-size: 10pt;
  font-weight: 400;
}

.table-hover > tbody > tr:hover {
  background-color: #FFFF00;
}

footer {
  float: left;
}

a.navbar-brand>img {
  width: 20px;
  height: 20px;
}

#search_container {
  text-align: right;
}

.well > .list-group {
  margin-bottom: 0px;
}

.flex-input-container {
  display: flex;
}

.flex-input-container > input {
  flex: 2;
  margin-left: 5px;
}
