body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

code {
  font-family: "Courier New", "Courier", monospace;
}

.table {
  font-size: 10pt;
}

.table-hover > tbody > tr:hover {
  background-color: #FFFF00;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 6px;
}

footer {
  float: left;
}

a.navbar-brand>img {
  width: 20px;
  height: 20px;
}

.well > .list-group {
  margin-bottom: 0px;
}

.flex-input-container {
  display: flex;
}

.flex-input-container > label {
  margin: 5px;
}

.flex-input-container > input {
  flex: 2;
}

.list-group-small > .list-group-item {
  padding: 6px 8px;
  font-size: 10pt;
}

.auto-width {
  width: auto;
  display: inline;
}

.report_entry_system {
  font-size: 8pt;
  text-align: center;
  filter: opacity(75%);
}

.report_entry_system > .report_entry_text {
  margin: 0;
}

.report_entry_metadata {
  font-weight: bold;
  margin: 10px 0 0 0;
}

#incident_well > .panel {
  margin-bottom: 5px;
}

/* We want good readability even for disabled controls. */
.form-control {
  color: black;
}
