Automat==22.10.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==3.0.0
constantly==15.1.0
exceptiongroup==1.0.0
idna==3.4
incremental==22.10.0
MarkupSafe==2.1.1
packaging==21.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
sortedcontainers==2.4.0
Tubes==0.2.1
typing_extensions==4.4.0
urllib3==1.26.12
websocket-client==1.4.1
