arrow==1.2.3
attrs==22.1.0
bcrypt==4.0.1
cattrs==22.2.0
cryptography==38.0.3
hyperlink==21.0.0
jwcrypto==1.4
klein==21.8.0
PyMySQL==1.0.2
pyOpenSSL==22.1.0
PyYAML==6.0
service-identity==21.1.0
Twisted==22.10.0
Werkzeug==2.2.2
zope.interface==5.5.0
