Automat==22.10.0
cffi==1.15.1
constantly==15.1.0
cryptography==40.0.2
Deprecated==1.2.13
idna==3.4
incremental==22.10.0
MarkupSafe==2.1.2
pycparser==2.21
python-dateutil==2.8.2
six==1.16.0
Tubes==0.2.1
typing_extensions==4.5.0
wrapt==1.15.0
